PROTEUS_RSA_KEY_FILE=secrets/proteus_rsa_key.pem
OPENAI_BASE_URL=http://localhost:11434/v1
OPENAI_API_KEY=ollama
PROTEUS_CORRELATION_MODEL=phi3
PROTEUS_ENGAGE_MODEL=phi3
PROTEUS_PORT=2222
PROTEUS_CORRELATION_ENGINE_TEMPERATURE=0.0
PROTEUS_ENGAGE_ENGINE_TEMPERATURE=0.5
PROTEUS_ENGAGE_ENGINE_THRESHOLD=0.6
PANOPTES_LLM_MODEL=phi3
PANOPTES_TEMPERATURE=0.2
PANOPTES_THRESHOLD=0.5
PANOPTES_LEVEL=Beginner
PANOPTES_TECHNIQUES=T1033
PANOPTES_SELECT_RANDOM_TEST=true
PANOPTES_USER=user
PANOPTES_PASS=user
ORACLE_HOST=
ORACLE_PORT=22
ORACLE_USER=
ORACLE_PASS=