python-dotenv
paramiko
cryptography
loguru
pytest
pytest-mock
pydantic
nltk
stix2
numpy
mitreattack-python
scikit-learn
vt-py
pandas
openai
pyyaml
accelerate
transformers
torch
openpyxl
matplotlib
seaborn